
.main{
    background-image: url(./images/pics.jpg);
    width: 275px;
    height: 250px;

}
body{
    display: flex;
    justify-content: center;
  margin-top: 150px;
}
.main{
    display: flex;
    justify-content: center;
 

   
}

.error{
    font-size: 20px;
    color: rgb(233, 19, 19);
}
.error2{
    font-size: 20px;
    color: rgb(209, 15, 15);
}
.inputTwo{
    display: none;
}
.btnTwo{
    display: none;
}
.headingTwo{
    display: none;
}
.error2{
    display: none;
}
.Chance{
    display: none;
}
.Chance{
   color:rgb(14, 14, 14);
   font-size: large;
}